@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.left-50 {
    left: 50%
}

.top-50 {
    top: 50%
}

.-z-1 {
    z-index: -1;
}

.secondary-title {
    @apply text-3xl font-bold;
}


.secondary-title::before {
    content: "";
    @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.secondaryy-title {
    @apply text-3xl font-bold;
}

.secondaryy-title::before {
    content: "";
    @apply block m-auto w-12 h-2 bg-theme rounded-full mb-2;
}

.section-paragraph {
    @apply text-secondary my-6 w-full max-w-3xl;
}

.badge {
    @apply px-4 py-2 text-sm rounded bg-badge;
}

.career {
    @apply px-4 py-2 text-sm rounded-full bg-selected-text
}

[id] {
    scroll-margin-top: 100px;
}

.left-percentage {
    left: 5%;
}

.h-screen-partial {
    height: 80vh;
}

.nav-dot {
    transition: background 200ms, border-color 200ms;
}

.selected-circle {
    @apply border-theme bg-theme;
}

.nav-dot:hover span {
    opacity: 1;
}

.hiddden {
    opacity: 0;
}

.fadee {
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
}

.flyinr {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.flyinl {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Moving Div */
:global(.moving-div) {
    padding: 2rem 5rem
}

:global(.moving-div > .inner-div) {
    transition: transform .25s !important
}